@charset "utf-8";
/* 		CSS DOCUMENT		*/
body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-declaration:none;
}
section{
	width:100%;
	height:95vh;
	background-image:url(/This PC/Downloads/IMG_1642.jpg);
	backgroud-size:cover;
	background-repeat:no-repeat;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#ffffff;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	padding:0px 5%;
}
nav ul{
	display: flex;
}
.toggle{
	displau: none;
}
nav ul li a{
	margin:30px;
	font-family:myriad pro regular;
	color:#505050;
	font-size:15px;
	font-weight:700;
}
.logo
{
	font-family:RoadTest;
	color:#000000;
	fontsize: 22px;
}
.active
{
	color:#2d2a2a;
	font-weight:bold;
}
.text-container p:nth-child(1){
	font-family: comic sans;
	font-weight:bold;
	color: #0096F1;
	letter-spacing:1px;
	font-size: 25px;
	position:relative;
	left:450px;
	
}
.text-container p:nth-child(2){
	font-family: comic sans;
	font-weight:bold;
	
	color:#0096F1;
	font-size:50px;
	position:relative;
	left:450px;
}
.text-container p:nth-child(3){
	font-family: comic sans;
	font-weight:bold;
	color:#0096F1;
	font-size:25px;
	position:relative;
	left:450px;
}
.text-container p:nth-child(4){
	font-family: comic sans;
	font-weight:bold;
	color:#0096F1;
	font-size:25px;
	position:relative;
	left:450px;
}
.text-container p{
	line-height:0px;
	margin:45px 0px 25px;
}
.text-container{
	position: absolute;
	left: 13%;
	top: 42%;
	transform:translate(-13%,-42%);
}
.text-container button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:calibri;
	font-weight:bold;
	font-size:15px;
	outline:none;
	margin:0px 10px;
	position:relative;
	left:440px;
}
	
.down-cv{
	background-color:#9AF800;
	color:#FFFFFF;
	border:none;
}
button:active{
	transform:scale(1.1);
}
.IMG_1642{
	height:500px;
	position:absolute;
	bottom:0px;
}
.about-container{
	width=80%;
	height:300px;
	background-color:#FFF93F;
	border-radius:20px;
	box-shadow:2px2px 12px rgba(0,0,0,0.2);
	display:flex;
	margin:-7% auto 20px auto;
	position:relative;
	justify-content:space-evenly;
	align-items:center;	
}
.about-container img{
	height:300px;
}
.about-text{
	font-weight:bold;
	font-family:calibri;
	font-size:15px;
}
.about-text p:nth-child(1){
	font-weight:bold;
	font-family:myriad pro;
	font-size:35px;
	color:#403e3e;
	line-height:0px;
}
.about-text p:nth-child(2){
	font-weight:bold;
	font-size:15px;
	font-family:comic sans;
	color:#3e3d3d;
	line-height:2px;
	
}
.about-text button{
	width:120px;
	height:40px;
	color:#FFFFFF;
	outline:none;
	border:none;
	font-family:calibri;
	background-color:#262525;
	position:relative;
	top:-10px;
}
